<div class="modalOverlay modalError">
    <div class="modal">
        <div class="form">
            <h3>É necessário preencher todos os campos</h3>
            <div class="actions">
                <a 
                    href="#" 
                    class="button ok"
                    onclick="ModalError.toggle()">Ok</a>
            </div>
        </div>
    </div>
</div>